<form candidatureForm (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nom</label>
    <input id="name" formControlName="name" />
    <div ngIf="candidatureForm.get('nom')?.invalid && candidatureForm.get('nom')?.touched">
      Le nom est requis.
    </div>
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" />
    <div ngIf="candidatureForm.get('email')?.invalid && candidatureForm.get('email')?.touched">
      L'adresse email est invalide.
    </div>
  </div>

  <div>
    <label for="poste">Poste</label>
    <input id="poste" formControlName="poste" />
    <div ngIf="candidatureForm.get('poste')?.invalid && candidatureForm.get('poste')?.touched">
      Le poste est requis.
    </div>
  </div>

  <div>
    <label for="Comment">Commentaire</label>
    <textarea id="Comment" formControlName="Comment"></textarea>
  </div>

  <div>
    <label for="available">Commentaire</label>
    <textarea id="available" formControlName="available"></textarea>
  </div>

  <button type="submit">Soumettre</button>
</form>
